DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://www.thrivbeats.com
NEXT_PUBLIC_BASE_URL=https://www.thrivbeats.com/
STRIPE_SECRET_KEY=
STRIPE_PRICE_STANDARD_MONTHLY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=ThrivBeats <hello@thrivbeats.com>
LEAD_NOTIFICATION_EMAIL=
